## energy splitting

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import re

In [2]:
with open("./fplo.out", 'r') as f:
    read = f.readlines()

read[:5]

['------------------------------------------------------------------------\n',
 '|                                                                      |\n',
 '|    FULL-POTENTIAL LOCAL-ORBITAL MINIMUM BASIS BANDSTRUCTURE CODE     |\n',
 '|                      FULL RELATIVISTIC VERSION                       |\n',
 '|                                                                      |\n']

In [3]:
st1 = 'T=      0.00000      0.00000      0.00000'
st2 = 'spin 1: WF\('
orbit = []

for string in read:
    if re.match(st2, string):
        orbit.append(string)
    elif re.match(st1, string):
        f = open('output.txt', mode='a', encoding='utf-8', newline='\n')
        # f.write(orbit[-1])
        # f.write(string)
        f.close()

In [22]:
from make_table import table
full_data = table('./output.txt')
full_data

               orbit aft                   0
orbit bef
Co(003)3d+0  Co(003)3d+0  1.271064012342552j
Co(003)3d+1  Co(003)3d+1  1.237894873735944j
Co(003)3d+2  Co(003)3d+2  1.275913124328419j
Co(003)3d-1  Co(003)3d-1  1.237894873735944j
Co(003)3d-2  Co(003)3d-2  1.461892635951483j
...                  ...                 ...
Si(005)3p+1  Si(005)3p+1  0.030472635471594j
Si(005)3p-1  Si(005)3p-1  0.030472635471594j
Si(006)3p+0  Si(006)3p+0  0.079404259528209j
Si(006)3p+1  Si(006)3p+1  0.030472635471594j
Si(006)3p-1  Si(006)3p-1  0.030472635471594j

[76 rows x 2 columns]

### Co

In [24]:
Co_data = full_data[full_data.index.str.match('Co\(003\)*')]
Co_data.columns = ['orbit aft', 'abs energy']
Co_data.loc[:, 'abs energy'] = Co_data['abs energy'].abs()
Co_data.sort_values('abs energy')

               orbit aft abs energy
orbit bef
Co(003)3d+1  Co(003)3d+1   1.237895
Co(003)3d-1  Co(003)3d-1   1.237895
Co(003)3d+0  Co(003)3d+0   1.271064
Co(003)3d+2  Co(003)3d+2   1.275913
Co(003)3d-2  Co(003)3d-2   1.461893

### La


#### full values

In [28]:
La_data = full_data[full_data.index.str.match('La\(001\)*')]
La_data.columns = ['orbit aft', 'abs energy']
La_data.loc[:, 'abs energy'] = La_data['abs energy'].abs()
La_data = La_data.sort_values('abs energy', ascending=False)
La_data

               orbit aft abs energy
orbit bef
La(001)5d-2  La(001)5d-2   2.973465
La(001)5d+0  La(001)5d+0   2.697345
La(001)4f+0  La(001)4f+0    2.56824
La(001)4f+2  La(001)4f+2   2.548963
La(001)4f+3  La(001)4f+3   2.527166
La(001)4f-3  La(001)4f-3   2.527166
La(001)4f-2  La(001)4f-2   2.521299
La(001)4f-1  La(001)4f-1   2.519797
La(001)4f+1  La(001)4f+1   2.519797
La(001)5d+2  La(001)5d+2   2.263731
La(001)5d-1  La(001)5d-1   2.067886
La(001)5d+1  La(001)5d+1   2.067886
La(001)4f-2  La(001)5d-2   0.154989
La(001)5d-2  La(001)4f-2   0.154989
La(001)4f+0  La(001)5d+0    0.08332
La(001)5d+0  La(001)4f+0    0.08332
La(001)5d+1  La(001)4f+3   0.047309
La(001)4f+3  La(001)5d+1   0.047309
La(001)5d-1  La(001)4f-3   0.047309
La(001)4f-3  La(001)5d-1   0.047309
La(001)4f-3  La(001)4f-1   0.030799
La(001)4f-1  La(001)4f-3   0.030799
La(001)4f+3  La(001)4f+1   0.030799
La(001)4f+1  La(001)4f+3   0.030799
La(001)5d+2  La(001)4f+2   0.027858
La(001)4f+2  La(001)5d+2   0.027858
La(001)4f-1  La(001)5d-1   0.025923
La(001)5d+1  La(001)4f+1   0.025923
La(001)5d-1  La(001)4f-1   0.025923
La(001)4f+1  La(001)5d+1   0.025923

#### elements of diagonal

In [29]:
La_data[La_data['abs energy'] > 2.0]

               orbit aft abs energy
orbit bef
La(001)5d-2  La(001)5d-2   2.973465
La(001)5d+0  La(001)5d+0   2.697345
La(001)4f+0  La(001)4f+0    2.56824
La(001)4f+2  La(001)4f+2   2.548963
La(001)4f+3  La(001)4f+3   2.527166
La(001)4f-3  La(001)4f-3   2.527166
La(001)4f-2  La(001)4f-2   2.521299
La(001)4f-1  La(001)4f-1   2.519797
La(001)4f+1  La(001)4f+1   2.519797
La(001)5d+2  La(001)5d+2   2.263731
La(001)5d-1  La(001)5d-1   2.067886
La(001)5d+1  La(001)5d+1   2.067886