## This Notebook is for prime factorization in LaCoSi

### Orbit
1. La(5d)
2. La(4f)
3. Co(3d)
4. Si(3p)

First, we consider the d, f orbit before all.

In [1]:
import pandas as pd
import numpy as np
import itertools
from importlib import reload

import module
reload(module)
from module import Combination

In [38]:
# characteristic in tetragonal
A1g = [1, 1, 1, 1, 1, 1, 1]
A2g = [1, 1, 1, -1, -1, 1, 1]
B1g = [1, -1, 1, 1, -1, 1, -1]
B2g = [1, -1, 1, -1, 1, 1, -1]
Eg = [2, 0, -2, 0, 0, 2, 0]
A1u = [1, 1, 1, -1, -1, -1, -1]
A2u = [1, 1, -1, -1, -1, -1, -1]
B1u = [1, -1, 1, 1, -1, -1, 1]
B2u =[1, -1, 1, -1, 1, -1, 1]
Eu = [2, 0, -2, 0, 0, -2, 0]
char = ['A1g', 'A2g', 'B1g', 'B2g', 'Eg', 'A1u', 'A2u', 'B1u', 'B2u', 'Eu']
sym_operate = ['E', 'C4', 'C42', 'C2p', 'C2pp', 'I', 'IC4']
print(f"number of charactor is '{len(char) == 10}'")


table_char = {}
for c in char:
    table_char[c] = eval(c)

char = pd.DataFrame.from_dict(
    table_char, orient='index', 
    columns=[sym_operate]
    )
char = char.sort_values(char.columns[0], ascending=False)
char

number of charactor is 'True'

     E C4 C42 C2p C2pp  I IC4
Eg   2  0  -2   0    0  2   0
Eu   2  0  -2   0    0 -2   0
A1g  1  1   1   1    1  1   1
A2g  1  1   1  -1   -1  1   1
B1g  1 -1   1   1   -1  1  -1
B2g  1 -1   1  -1    1  1  -1
A1u  1  1   1  -1   -1 -1  -1
A2u  1  1  -1  -1   -1 -1  -1
B1u  1 -1   1   1   -1 -1   1
B2u  1 -1   1  -1    1 -1   1

In [39]:
char_sort = char.groupby(('E',)).apply(lambda x: x)
char_sort = char_sort.sort_index(ascending=False)
char_sort

          E C4 C42 C2p C2pp  I IC4
(E,)
2    Eu   2  0  -2   0    0 -2   0
     Eg   2  0  -2   0    0  2   0
1    B2u  1 -1   1  -1    1 -1   1
     B2g  1 -1   1  -1    1  1  -1
     B1u  1 -1   1   1   -1 -1   1
     B1g  1 -1   1   1   -1  1  -1
     A2u  1  1  -1  -1   -1 -1  -1
     A2g  1  1   1  -1   -1  1   1
     A1u  1  1   1  -1   -1 -1  -1
     A1g  1  1   1   1    1  1   1

In [35]:
orb_d = [5, -1, 1, 1, 1, 5, -1]

main = Combination(char_sort, target=orb_d)
select = main.selection()
comb = main.combination()

for c in comb:
    val = char.T[c].sum(axis=1)
    judge = (val.values != orb_d).sum() == 0
    if judge:
        print(sorted(c))

['A1g', 'B1g', 'B2g', 'Eg']

In [40]:
orb_f = [7, -1, -1, -1, -1, -1, 3]
main = Combination(char_sort, target=orb_f)
select = main.selection()
comb = main.combination()

for c in comb:
    val = char.T[c].sum(axis=1)
    judge = (val.values != orb_f).sum() == 0
    if judge:
        print(sorted(c))

['A2g', 'B1u', 'B2u', 'Eg', 'Eu']